
/*---------------------header----------------------*/

.header{ height: 81px;margin:2px auto; overflow: hidden; position: relative; width: 800px; z-index: 2;}
.headerNav { right: 0;text-align: right;top: 52px; width: 300px; position:absolute;}
.headerNav a{ color:#515151; font-size:12px; padding:0 2px;}
.headerNav a:hover{ text-decoration:underline; color:#658b98;}













